aiohttp
asgiref
async-timeout
asyncio
attrs
audioread
beautifulsoup4
certifi
cffi
chardet
discord
discord.py
discord.py[voice]
Django
ffmpeg
ffmpeg-python
future
idna
lxml
multidict
options
pip
playsound
pycparser
PyNaCl
pytz
requests
selenium
setuptools
six
soupsieve
South
sqlparse
typing-extensions
urllib3
Voice
yarl
youtube-dl
